/*
 * elements/tables.less
 *
 * Styles tables.
 */

table {
  width: 100%;
  margin-bottom: @baseline;
  padding: 0;
  font-size: @basefont;
  border-collapse: collapse;

  th, td {
    padding: 10px 10px 9px;
    line-height: @baseline;
    text-align: left;
  }

  th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
  }

  td {
    vertical-align: top;
    border-top: 1px solid #ddd;
  }

  tbody th {
    border-top: 1px solid #ddd;
    vertical-align: top;
  }

  &.condensed {
    th, td {
      padding: 5px 5px 4px;
    }
  }

  &.bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse; // IE7, collapse table to remove spacing.
    #border-radius > .border-radius(4px);

    th + th, td + td, th + td {
      border-left: 1px solid #ddd;
    }

    thead tr:first-child th:first-child, tbody tr:first-child td:first-child {
      #border-radius > .border-top-right-radius(0);
      #border-radius > .border-bottom-left-radius(0);
      #border-radius > .border-bottom-right-radius(0);
    }

    thead tr:first-child th:last-child, tbody tr:first-child td:last-child {
      #border-radius > .border-top-left-radius(0);
      #border-radius > .border-bottom-left-radius(0);
      #border-radius > .border-bottom-right-radius(0);
    }

    tbody tr:last-child td:first-child {
      #border-radius > .border-top-left-radius(0);
      #border-radius > .border-top-right-radius(0);
      #border-radius > .border-bottom-left-radius(0);
    }

    tbody tr:last-child td:last-child {
      #border-radius > .border-top-left-radius(0);
      #border-radius > .border-top-right-radius(0);
      #border-radius > .border-bottom-right-radius(0);
    }
  }

  &.zebra-striped {
    tbody {
      tr:nth-child(odd) td, tr:nth-child(odd) th {
        background-color: #f9f9f9;
      }

      tr:hover td, tr:hover th {
        background-color: #f5f5f5;
      }
    }
  }
}
