/*
 * mixins/font-stacks.less
 *
 * Snippets of reusable CSS for font stacks.
 */

#font-stacks {

  // Shorthand font settings (does not include font family).
  .shorthand(@weight: noral, @size: @basefont, @lineHeight: @baseline) {
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }

  // Standard sans-serf font.
  .sans-serif(@weight: normal, @size: @basefont, @lineHeight: @baseline) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }

}
