<header class="jumbotron subhead">
  <h1>Scaffolding</h1>
  <p class="lead">
    AppUI is built on a responsive 12-colmn fluid grid.
  </p>
</header>
<header class="page-header">
  <h1>Grid system</h1>
</header>

<div class="grid show-grid">
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
  <div class="grid-1">1</div>
</div>
<div class="grid show-grid">
  <div class="grid-4">4</div>
  <div class="grid-4">4</div>
  <div class="grid-4">4</div>
</div>
<div class="grid show-grid">
  <div class="grid-4">4</div>
  <div class="grid-8">8</div>
</div>
<div class="grid show-grid">
  <div class="grid-6">6</div>
  <div class="grid-6">6</div>
</div>
<div class="grid show-grid">
  <div class="grid-12">12</div>
</div>

<div class="grid">
  <div class="grid-4">
    <h3>Percents, not pixels</h3>
    <p>
      The grid system uses percents for column widths instead of fixed
      pixels.
    </p>
  </div>
  <div class="grid-4">
    <h3>Fluid grid-rows</h3>
    <p>
      Make a fluid grid by applying the <code>.grid</code> class to the
      container element.
    </p>
  </div>
  <div class="grid-4">
    <h3>Markup</h3>
    <p>FIXME: Add code sample.</p>
  </div>
</div>

<h2>Nesting grids</h2>
<div class="grid">
  <div class="grid-6">
    <div class="grid show-grid">
      <div class="grid-12">
        12
        <div class="grid show-grid">
          <div class="grid-6">6</div>
          <div class="grid-6">6</div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-6">
    <p>FIXME: Add code sample.</p>
  </div>
</div>
