<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Binary Marbles App UI</title>
    <meta name="description" content="">
    <meta name="author" content="Binary Marbles">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet/less" type="text/css" href="../vendor/frameworks/app-ui/bootstrap.less">
    <link rel="stylesheet/less" type="text/css" href="assets/css/demo.css">
    
    <script src="assets/js/less.js" type="text/javascript"></script>
    <script src="assets/js/jquery.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui.js" type="text/javascript"></script>

    <script src="../vendor/assets/javascripts/app-ui/scaffolding.js" type="text/javascript"></script>
  </head>
  <body>

    <section class="application-header">
      <nav class="primary-navigation">
        <ul>
          <li class="{{scaffolding}}"><a href="scaffolding.html">Scaffolding</a></li>
          <li class="{{base-css}}"><a href="base-css.html">Base CSS</a></li>
          <li class="{{components}}"><a href="components.html">Components</a></li>
        </ul>
      </nav>
      <nav class="secondary-navigation">
        <ul>
          <li>user@domain.tld</li>
          <li>Site Name</li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Log out</a></li>
        </ul>
      </nav>
    </section>

    <section class="breadcrumb-and-search">
      <ul class="breadcrumb">
        <li><a href="#">You</a> <span class="divider">/</span></li>
        <li><a href="#">Are</a> <span class="divider">/</span></li>
        <li><a href="#">Here</a> <span class="divider">/</span></li>
      </ul>
    </section>

    <section class="content-wrapper">
      <section class="content">
        {{> body}}
      </section>
    </section>

  </body>
</html>
